<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>isitaseinfeldquote?</title>
</head>
<body id="entire_body">
  <h2>Is it a Seinfeld quote?</h2>
  <!-- <p class="center">Try searching for an expression:</p> -->
  <form action="search" method="POST">
    <div id="search_bar">
      <input id="bar" type="search" name="query" value="<%=locals.query || "No soup for you!" %>" />
    </div>
    <div id="submit">
      <button type="submit">Submit</button>
    </div>
  </form>
  <%if (locals.dialogue) { %>
  <p>Result found! </p>
  <p>Season <%= locals.season %>, Episode <%= locals.episode %>:  </p>

  <span id="before"><%- locals.before %></span>
  
  <div><span id="result"><%= locals.actor %> : <%= locals.dialogue %> </span></div>
  
  <span id="after"><%- locals.after %> </span>



  <% } %> 
</body>
</html>
